** Employee salary protection**

In [ ]:
class Employee():
  def __init__(self,name,salary):
    self.name = name
    self.salary = salary
# getter method
  def get_name(self):
    print(f"Employee name : {self.name} ")

  # setter method
  def set_salary(self):
    p=int(input("Enter the salary :"))
# checking salary is positive or not
    if p > 0 :
      self.salary = p

    else:
      print("Invalid !!!")

  # show details
  def show(self):
    print(f"Employee Name : {self.name} ")
    print(f"Salary : {self.salary}")

In [ ]:
e1 = Employee("Kamran", 80000)

In [ ]:
e2 = Employee("Waqar",60000)

In [ ]:
e1.get_name()

Employee name : Kamran

In [ ]:
e2.set_salary()

Enter the salary :65000

In [ ]:
e1.show()

Employee Name : Kamran
Salary : 80000

In [ ]:
e1.set_salary()

Enter the salary :-6522
Invalid !!!

In [ ]:
e2.show()

Employee Name : Waqar
Salary : 65000

In [ ]:
e1.show()

Employee Name : Kamran
Salary : 80000